body {
    background-color: black;
}

.login-container {
    background-color: grey;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 50%;
}

.login-container h2 {
    margin: auto;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 15px;
}

.login-container input {
    width: 70%;
    margin: auto;
    height: 2rem;
    border-radius: 9px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    color: black;
}

.login-container button {
    background-color: rgb(5, 178, 208);
    width: 5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.profile-container {
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}

.profile-container h2 {
    color: white;
}

@media all and (width<=400px) {
    .login-container {
        width: 90%;
    }
}